# CityBikes

In [1]:
import pandas as pd
import os
import json
import requests as re

Send a request to CityBikes for the city of your choice.

In [ ]:
import requests
import json

url = "http://api.citybik.es/v2/networks/santander-cycles"

params = {
    'city': 'london',
    'country': 'Great Britain'
}

response = requests.get(url, params=params)
data = response.json()
data

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [ ]:
data = response.json()
stations = data['network']['stations']
station_list = []
for station in stations:
    name = station['name']
    latitude = (station['latitude'])
    longitude = (station['longitude'])
    location = f"{latitude},{longitude}"
    bikes = station['free_bikes']
    station_list.append({'name':name, 'coordinates':location, 'bikes':bikes})
    
station_list

Put your parsed results into a DataFrame.

In [16]:
df_all_stations = pd.DataFrame(station_list)
df_all_stations

,name,coordinates,bikes
0,"001023 - River Street , Clerkenwell","51.52916347,-0.109970527",12
1,"001018 - Phillimore Gardens, Kensington","51.49960695,-0.197574246",31
2,"001012 - Christopher Street, Liverpool Street","51.52128377,-0.084605692",4
3,"001024 - Park Street, Bankside","51.50597426,-0.092754157",10
4,"001022 - Brunswick Square, Bloomsbury","51.52395143,-0.122502346",16
...,...,...,...
794,"200008 - Portman Square, Marylebone","51.516204,-0.155525",3
795,"001225 - George Street, Marylebone","51.517703,-0.154106",25
796,"000973 - Bethnal Green Road, Shoreditch","51.52364804,-0.074754872",20
797,"002677 - Natural History Museum, South Kensington","51.49559291,-0.179077626",9
798,"001199 - The Tennis Courts, The Regent's Park","51.52536703,-0.153463612",1

In [17]:
df_all_stations['name'].nunique() #check for duplicates

799

In [ ]:
coordinates = []
for x in stations:
    latitude = x['latitude']
    longitude = x['longitude']
    coordinates.append({'latitude' : latitude, 'longitude' : longitude})
coordinates

In [19]:
df_all_stations.to_json('citybike', orient = 'records')